html{
	background-image: url('/images/back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: #111;
  text-decoration: none;
  text-align: center;
  padding: 14px;
}

li a:hover, .dropdown:hover {
  background-color:lightgray;
}
li.dropdown{
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
li img {
  vertical-align: middle; /* Align the logo vertically */
}

li:last-child {
  float: right; /* Move login and join now to the right */
}


/* html{
	background-image: url('/images/back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}


body {
 
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
div {
  background-color: white;
  padding: 20px;
  height: 350px;
  border-radius: 5px;
}
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 7px 7px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  padding: 7px 7px;
  margin: 7px 0;
  margin-top: 10px;
  display: inline-block;
  border: 1px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}
h1{
  text-align: center;
}
a{
  color: lightgray;
}
a:hover{
  color: black;
} */

@media only screen and (min-width: 100px) {
  html {
	height: 100%;
	width: 100%;
  }
}
