<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel=icon type=text/jpg href="/images/logo.jpg">
<link rel=stylesheet type=text/css href="/index.css">

</head>
	<body>
	<form action="login" method="get">
		<ul>
      <li><img src="/images/logo.jpg" alt="logo" width="50px" height="46px" /></li>
      <li><a href="index">Tunehub</a></li>
      <!-- <li><a href="index" class="home">Home</a></li> -->
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Artist</a>
        <div class="dropdown-content">
          <a href="#">A. R. Rahman</a>
          <a href="#">Aniruth</a>
          <a href="#">Yuvan</a>
        </div>
      </li>

      <li style="float: right"><a class="login" href="login">Login</a></li>
      <li style="float: right">
        <a class="Sign in" href="registeration">Signup</a>
      </li>
    </ul>
    </form>
    <!-- <div th:replace="~{footer :: footer}"></div> -->
	</body>
</html>